

  @keyframes bgcolor {
    20% {
        background-color: #ffffff
    }

    40% {
        background-color: #ffffff
    }

    60% {
        background-color: #ffffff
    }

    80% {
        background-color: rgb(255, 255, 255)
    }

    100% {
        background-color: #ffffff
    }
}

body {
    -webkit-animation: bgcolor 5s infinite;
    animation: bgcolor 5s infinite;
    -webkit-animation-direction: alternate-reverse;
    animation-direction: alternate-reverse;
}



